<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Travel</title>
    </head>

    <body>

        <header>
            <div class="item">
                <a>Go Travel</a>
            </div>
            <div class="item">
                <button>Register</button>
                <button>Login</button>
            </div>
        </header>

        <main>
            <section id="input-section">
                <h1>Find your next destination</h1>
                <p class="sub-title">Enter the location you are traveling to and the date you are leaving. If the trip is within a 16 Days, you will get weather forecast</p>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="city" name="input" value="" placeholder="Where are you going">
                    <input id="start" name="start" value="" placeholder="Start date" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <input id="end" name="end" value="" placeholder="End date" onfocus="(this.type='date')" onblur="(this.type='text')">
                    <input id="submit" type="submit" name="" value="Search">
                </form>
            </section>

            <section>
                <p id="trip-length" class="section-title"></p>
            </section>

            <section>
                <p id="forcast-title" class="section-title">Forecasts</p>
                <div id="forcasts"></div>
            </section>
            
            <section>
                <p id="location" class="section-title"></p>
                <div id="pictures"></div>
            </section>

            </main>
        </main>

        <footer>
            <div class="footer-content">
                <div>
                    <a>Countries</a>
                    <a>Regions</a>
                    <a>Cities</a>
                    <a>Districs</a>
                    <a>Airports</a>
                    <a>Hotels</a>
                </div>
                <div> 
                    <a>Homes</a>
                    <a>Apartments</a>
                    <a>Resorts</a>
                    <a>Villas</a>
                    <a>Hostels</a>
                    <a>Guest houses</a>  
                </div>
                <div> 
                    <a>Unique places to stay</a>
                    <a>All destinations</a>
                    <a>Discover</a>
                    <a>Unpacked: Travel articles</a>
                    <a>Travel Communities</a>
                    <a>Seasonal and holiday dealss</a>  
                </div>
            </div>
            <div id="copyright">
                <p>Made with Love</p>
            </div>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
