@import 'base';

header {
    display: flex;
    justify-content: space-between;
    padding: $md;
    background-color: $primary-color;
    a {
        font-family: $font-stack;
        font-size: $md;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: $gray;
        }
    }
    button {
        padding: $sm;
        background-color: white;
        color: $secondary-color;
        border: $xs solid $primary-color;
        &:hover {
            border: $xs solid $secondary-color;
        }
    }
}