@import 'base';

#input-section {
    background-color: $primary-color;
    padding: $xl $md $xl $md;
}

form {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    input {
        flex: 1;
        padding: $base;
        font-size: medium;
        font-weight: bold;
        border: $xs solid $sea-green-crayola;
        &:hover {
            border: $xs solid $secondary-color;
        }
    }
    #submit {
        background-color: $secondary-color;
        color: white;
    }
}

.picture {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/30/20/08/eiffel-tower-1784212_1280.jpg");
    background-size: cover;
    height: 200px;
    margin-bottom: $sm;
}

@media(min-width:780px) {
    form {
        display: flex;
    }
    #pictures {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $sm;
    }
    .picture {
        width: 250px;
    }
}